body{
	margin: 0;
	background-color: #e7e7e7;
	font-family: Arial, Oswald;
	font-size: 12px;
	letter-spacing: 1px;
}
header{
	width: 100%;
	height: 50px;
	background-color: #535353;
	margin: 0;
}
header .nav{
	width: 960px;
	margin: 0 auto;
	height: 50px;
}
.logo{
	width: auto;
	height: 44px;
	margin: 3px auto 3px 10px;
	float: left;
}
.title{
	color: white;
	font-size: 18px;
	float: left;
	margin-left: 300px;
	margin-top: 15px;
	font-family: Oswald, Arial;
}
.main{
	width: 960px;
	margin: 0 auto;
}
.main .intro{
	float: left;
	width: 600px;
	height: 140px;
	font-size: 15px;
	margin: 20px auto 20px 20px;
}
.intro-title{
	font-size: 18px;
	font-weight: bold;
	font-family: Oswald, Arial;
}
.main .map{
	float: right;
	width: 200px;
	margin: 20px 20px 20px auto;
	height: 140px;
}
.main .map img{
	width: 200px;
	height: auto;
}
.filter-block{
	float: left;
	width: 300px;
	height: 900px;
	background-color: white;
	border-radius: 10px;
	margin: 20px auto 20px 20px;
}
.filter-head{
	float: left;
	width: 300px;
	height: 50px;
	background-color: #23b791;
/*	border-radius: 10px 10px 0 0;
*/}
.filter-head p{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 20px;
	color: white;
	font-family: Oswald, Arial;
}
.filter-content{
	float: left;
	width: 300px;
	height: 50px;
	margin: 0;
}
.data-block{
	float: left;
	margin: 20px auto 20px 20px;
	width: 600px;
	height: 550px;
	background-color: white;
	border-radius: 10px;
}
.filter-title{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 18px;
	margin:20px auto 10px auto;
	font-weight: bold;
	color: #f8bc19;
	font-family: Oswald, Arial;
}
.filter-option{
	float: left;
	font-size: 13px;
	width: 300px;
	padding-left: 20px;
	clear: both;
}
.filter-option [type=radio]{
	float: left;
	clear: left;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.filter-option [type=radio]:checked + p{
	font-weight: bold;
}
.filter-option p{
	float: left;
	width: 240px;
	margin:5px 0 5px 0 !important;
	clear: right;
}
.filter-btn{
	text-align: center;
	width: 200px;
	height: 30px;
	padding-top: 9px;
	border-radius: 5px;
	background-color:  #23b791;
	color: white;
	float: left;
	margin: 30px 50px 0px 50px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;

}
.filter-btn:hover{
	background-color:  #23c791;
}
.tabs {
	position: relative;   
	float: left;
	margin: 30px auto 20px 20px;
	width: 600px;
	height: 840px;
}

.tab {
  float: left;
}
.tab label {
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
/*  border-radius: 10px 10px 0 0;*/
  color: white;
  font-family: Oswald, Arial;
  font-size: 20px;
}
.tab1{
	background-color: #4ec978;
}
.half-tab{
	margin: 0;
	width: 295px;
	min-height: 810px;
	float: left;
}
.first-half-tab{
	border-right: 1px solid #FFCF48;
}
.chart-block{
	width: 590px;
	margin: 0px 5px;
	float: left;
}
.chart{
	width: 255px;
	margin: 0px 20px;
	float: left;
}
.chart svg{
	margin-top: 10px;
}
.chart-intro{
	float: left;
	width: 255px;
	margin: 0px 20px;
	font-size: 12px;
	border:  0px;
}
.chart-intro p{
	padding-top: 5px;
}
.chart-block .chart{
	margin: 0 20px;
	width: 500px;
}
.chart-block .chart svg{
	margin-top: 10px;
}
.chart-block .chart-intro{
	border-bottom: 0px;
	margin: 0px 20px;
	width: 500px;
}
.chart-block .chart-intro p{
	margin-top: 5px;
	margin-bottom: 5px;
}
.styled-select select {
   background: transparent;
   width: 120px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 1px solid rgb(255,207,72);
   border-radius: 5px;
   height: 34px;
   margin-left: 20px;
   margin-bottom: 20px;
}

.tab2{
	background-color: #88cc75;
}
.tab [type=radio] {
  display: none;   
}



table{
	width: 250px;
	margin-bottom: 20px;
}
.chart-block table{
	width: 540px;
	margin-left: 20px;
	margin-top: 20px;
}
.chart-intro table{
	margin-top: 20px;
}
table, tr, td {
    border: 1px solid #FFCF48;
}
td{
	text-align: center;
	padding: 5px;
}

.content {
  position: absolute;
  top: 38px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  border: 1px solid #ccc; 
  border-radius: 0 0 10px 10px;
  height: 810px;
  overflow: auto;
}
#total{
	overflow-y: auto;
	overflow-x: hidden;
}
[type=radio] ~ label{
	opacity: 0.5;
}
[type=radio]:checked ~ label {
  border-bottom: 1px solid white;
  z-index: 2;
  color: #fffeee;
  opacity: 1;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.footer{
	float: left;
	margin: 20px;
	width: 960px;
	font-size: 12px;
}

input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:26px;
	margin-bottom: 20px;
	height:19px; 
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:13px;
	vertical-align:middle;
	cursor:pointer;

}
label.css-label img{
	margin-left: 10px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -19px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_fd2a3883d9fd900cde141141cae5b621.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: #f8bc19;
}

.tooltip{
  position: absolute;
  margin-left: -70px;
  z-index: 1001;
  width: 150px;
  height: auto;
  border: 1px solid #000000;
  padding: 10px;
  color: #dddddd;
  border-radius: 5px;
  pointer-events: none;
  box-shadow:0 0 10px 1px #555;
  background-image: -moz-linear-gradient(#231F20, #58595B);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #231F20),color-stop(1, #58595B));
  opacity:0.9;
  filter:alpha(opacity=90);    
}

.example-image:hover{
  opacity: 0.8;
  border-bottom: 2px solid #eeeeee;
}

.show-option{
	float: right;
}

.show-option select {
   background: #4ec978;
   width: 180px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 1px solid #4ec978;
   border-radius: 5px;
   height: 34px;
   margin-left: 20px;
   margin-bottom: 20px;
   color: white;
}